## Final Project Submission

Please fill out:
* Student name: Gideon Miles
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name: Daniel 
* Blog post URL:

In [ ]:
# Your code here - remember to use markdown cells for comments as well!

In [1]:
#Gideons Portion of Unpacking

import pandas as pd


GD1=pd.read_csv('zippedData/Bom.movie_gross.csv.gz')

In [2]:
GD1.head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

In [16]:
#Gideon's importing and reading an IMDB database file

import sqlite3
from zipfile import ZipFile

with ZipFile('zippedData/im.db.zip', 'a') as f:
    f.extractall()

AttributeError: 'NoneType' object has no attribute 'type'

README.md     im.db         student.ipynb zippedData

In [20]:


conn=sqlite3.connect(db)

GD2= pd.read_sql("""
SELECT *

    
FROM movie_basics
    JOIN movie_ratings ON movie_basics.movie_id = movie_ratings.movie_id
    JOIN movie_akas ON movie_ratings.movie_id = movie_akas.movie_id
    JOIN writers ON movie_akas.movie_id = writers.movie_id
    JOIN persons ON writers.person_id = persons.person_id
    JOIN directors ON persons.person_id =directors.person_id
    

;

""" ,conn)

TypeError: expected str, bytes or os.PathLike object, not NoneType

In [16]:
GD2

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres,movie_id,averagerating,numvotes,movie_id,...,is_original_title,movie_id,person_id,person_id,primary_name,birth_year,death_year,primary_profession,movie_id,person_id
0,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,tt0069049,6.9,4517,tt0069049,...,0.0,tt0069049,nm0000080,nm0000080,Orson Welles,1915.0,1985.0,"actor,director,writer",tt0069049,nm0000080
1,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,tt0069049,6.9,4517,tt0069049,...,0.0,tt0069049,nm0000080,nm0000080,Orson Welles,1915.0,1985.0,"actor,director,writer",tt0069049,nm0000080
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,tt0069049,6.9,4517,tt0069049,...,0.0,tt0069049,nm0000080,nm0000080,Orson Welles,1915.0,1985.0,"actor,director,writer",tt0069049,nm0000080
3,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,tt0069049,6.9,4517,tt0069049,...,0.0,tt0069049,nm0000080,nm0000080,Orson Welles,1915.0,1985.0,"actor,director,writer",tt0069049,nm0000080
4,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,tt0069049,6.9,4517,tt0069049,...,0.0,tt0069049,nm0000080,nm0000080,Orson Welles,1915.0,1985.0,"actor,director,writer",tt0069049,nm0000080
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4669705,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,130.0,Drama,tt9911774,8.4,365,tt9911774,...,0.0,tt9911774,nm10536451,nm10536451,Vineesh Aaradya,NaN,NaN,"writer,director",tt9911774,nm10536451
4669706,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,130.0,Drama,tt9911774,8.4,365,tt9911774,...,0.0,tt9911774,nm10536451,nm10536451,Vineesh Aaradya,NaN,NaN,"writer,director",tt9911774,nm10536451
4669707,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,130.0,Drama,tt9911774,8.4,365,tt9911774,...,0.0,tt9911774,nm10536451,nm10536451,Vineesh Aaradya,NaN,NaN,"writer,director",tt9911774,nm10536451
4669708,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,130.0,Drama,tt9911774,8.4,365,tt9911774,...,0.0,tt9911774,nm10536451,nm10536451,Vineesh Aaradya,NaN,NaN,"writer,director",tt9911774,nm10536451
4669709,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,130.0,Drama,tt9911774,8.4,365,tt9911774,...,0.0,tt9911774,nm10536451,nm10536451,Vineesh Aaradya,NaN,NaN,"writer,director",tt9911774,nm10536451

SyntaxError: invalid syntax (<ipython-input-28-852bc0c9d6bc>, line 1)